@import "../../../App";

@mixin days {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.practicecontainer {
    background-color: $mainBackground;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.daysouter {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.dayscontainer {
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin-right: -40px;
}

.days {
    @include days();
}

.weeklytotal {
    @include days();
    justify-content: center;
}

.goal {
    @include days();
    justify-content: center;
}

.buttonouter {
    display: flex;
    flex-direction: column;
}

.buttonscontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: -17px;
}

.buttons {
    @include font();
    @include btn();
    border: 1px solid black;
    margin-left: 15px;
    margin-bottom: 15px;
}

.practicehead {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    @include font();
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.titles {
    @include font();
    font-style: bold;
    font-size: 18px;
}

.minutes {
    @include font();
}

@media screen and (max-width: 850px){
    .dayscontainer {
        width: 600px;
    }
}

@media screen and (max-width: 670px){
    .dayscontainer {
        width: 500px;
    }
}

@media screen and (max-width: 550px) {
    .dayscontainer {
        width: 400px;
    }
}

@media screen and (max-width: 455px) {
    .dayscontainer {
        width: 300px;
    }
    
    .dayscontainer {
        margin-left: -50px;
        margin-bottom: 180px;
        text-align: center;
        flex-direction: column;
    }

    .titles {
        margin-top: 15px;
    }
}