@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input {
  opacity: 0.8;
}

body {
  background-color: #c0c5ce;
}

.practicecontainer {
  background-color: #c0c5ce;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.daysouter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.dayscontainer {
  width: 800px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: -40px;
}

.days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.weeklytotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.goal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonouter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buttonscontainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -17px;
}

.buttons {
  font-family: 'Courier Prime', monospace;
  background-color: #c0c5ce;
  width: 70px;
  height: 20px;
  border: none;
  border: 1px solid black;
  margin-left: 15px;
  margin-bottom: 15px;
}

.buttons:hover {
  background-color: #75787a;
}

.practicehead {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-family: 'Courier Prime', monospace;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titles {
  font-family: 'Courier Prime', monospace;
  font-style: bold;
  font-size: 18px;
}

.minutes {
  font-family: 'Courier Prime', monospace;
}

@media screen and (max-width: 850px) {
  .dayscontainer {
    width: 600px;
  }
}

@media screen and (max-width: 670px) {
  .dayscontainer {
    width: 500px;
  }
}

@media screen and (max-width: 550px) {
  .dayscontainer {
    width: 400px;
  }
}

@media screen and (max-width: 455px) {
  .dayscontainer {
    width: 300px;
  }
  .dayscontainer {
    margin-left: -50px;
    margin-bottom: 180px;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .titles {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=Practice.css.map */